<ul *ngFor="let message of apiMessages">
  <div class="card-body">
    <li><h5 class="card-title">{{ message.title }}</h5></li>
    <li><p class="card-text">{{ message.content }}</p></li>
    <li><p class="card-text">{{ message.sent }}</p></li>
    <li><a href="/message/{{message.id}}" class="btn btn-info">Detail</a></li>
  </div>

</ul>
