<nb-card accent="info" class="card-shadow">
  <nb-card-header>

    <h3 class="text-center text-uppercase">{{agenda.view.month}} <span class="text-muted">{{agenda.view.year}}</span></h3>
    <button nbButton (click)="changeMonth(-1)">prev</button>
    <button nbButton (click)="changeMonth(1)">next</button>

  </nb-card-header>
  <nb-card-body>
    <table class="table table-bordered ">
      <thead #head>
        <tr>
          <th scope="col" *ngFor="let day of agendaHead">{{day.title}}</th>
        </tr>
      </thead>
      <tbody>
        <tr style="height: 10vh;max-height: 10vh;" *ngFor="let line of monthCells">
          <td style="width: 20%;" *ngFor="let cell of line" [ngClass]="{'now': cell.today,'other-month':cell.title === ''}">{{cell.title}}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
