<nb-card accent="info" class="card-shadow">
  <nb-card-header>

    <h3 class="text-center text-uppercase">{{scheduler.view.month}} <span class="text-muted">{{scheduler.view.year}}</span></h3>

    <button nbButton (click)="changeMonth(-1)">prev</button>
    <button nbButton (click)="changeMonth(1)">next</button>
  </nb-card-header>
  <nb-card-body>
    <table class="table table-bordered ">
      <thead>
        <tr>
          <th scope="col"></th>
          <th class="text-center" scope="col" *ngFor="let day of scheduler.view.head">{{day.title}}</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>{{dataSources[0].title}}</td>
          <td class="text-center" *ngFor="let day of scheduler.view.content[0].events">
            <span>{{day.text}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>

