<div class="container-fluid">

  <div class="row">
    <div class="col-10">
      <h2>Header</h2>
    </div>
    <div class="col-2">
      <a [routerLink]="['/notif']" routerLinkActive="active">
        <button type="button" class="btn btn-primary mt-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
          </svg>
          Notification
        </button>
      </a>
    </div>
  </div>

  <div class="row min-vh-100">
    <div class="col-2 sidebar">
      <h2>Sidebar</h2>

      <ul class="menu">
        <li><a [routerLink]="['/login']" routerLinkActive="active">Login</a></li>
        <li><a [routerLink]="['/inbox']" routerLinkActive="active">Inbox</a></li>
        <li><a [routerLink]="['/newmsg']" routerLinkActive="active">Write a message</a></li>
      </ul>

    </div>
    <div class="col-10 mt-5">
      <!-- <h2>Content</h2> -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row fixed-bottom footer">
    <div class="col">
      <h2>Footer</h2>
    </div>
  </div>
</div>
