<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="ff">
        <form>
        <label for="title" class="form-label">Titre</label>
        <input type="text" class="form-control" id="title">

        <label for="content" class="form-label">Content</label>
        <textarea name="content" class="form-control" id="content" cols="20" rows="8"></textarea> <br />
        <button type="submit" class="btn btn-success btn-lg">Envoyer</button>
        </form>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
